<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Akash Deep Singhal">
	<meta name="description" content="Akash Deep Singhal">
	<base href="/">
	<!-- <title>Tripsphere &middot; Cover the earth before it covers you</title> -->
	<title><%= title %></title>
	<!-- CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css">
</head>
<body ng-app="tripsApp">
<input type="hidden" id="csrf_token" value="<%= csrf_token %>">
	<!-- HEADER -->
	<nav class="header">
		<div class="nav-wrapper">
			<div class="nav-link-wrapper">
				<div class="nav-link"><a href="/">Home</a></div>
				<div class="nav-link"><a href="/blog">Blog</a></div>
				<div class="nav-link"><a href="/contact">Contact</a></div>
				<div class="nav-link"><a href="/login">Login</a></div>
				<div class="nav-link"><a href="/signup">Sign up</a></div>
				<div class="nav-link"><a href="/admintrips">Admin Panel</a></div>
			</div>
		</div>
	</nav>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ui-view></div>

	<!-- JS -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
	<!-- Main App Routes -->
	<script src="js/app.js"></script>
	<!-- Controllers -->
	<script src="js/controllers/admin.js"></script>
	<script src="js/controllers/blog.js"></script>
	<script src="js/controllers/contact.js"></script>
	<script src="js/controllers/main.js"></script>
	<script src="js/controllers/session.js"></script>
	<!-- Services -->
	<script src="js/services/customHttp.js"></script>
</body>
</html>