<div class="content">
	<div class="article-list">
		<div class="article-wrapper" ng-repeat="article in articles">
			<div class="article">
				<div class="article-name">{{article.title}}</div>
				<div class="article-info">
					<div class="article-author">By {{article.author}}</div>
					<div class="article-date">{{article.created_on}}</div>
				</div>
				<div class="article-short">
					{{article.content | limitTo : 200}}...
					<span class="read-more"><a ng-href="blog/{{article.year}}/{{article.month}}/{{article.date}}/{{article.urlName}}">READ MORE</a></span>
				</div>
			</div>
		</div>
	</div>
</div>