<div class="blog-list-container">
	<div class="content">
		<div class="blog-list">
			<div class="blog-wrapper" ng-repeat="blog in blogs">
				<div class="blog">
					<div class="blog-name">{{blog.title}}</div>
					<div class="blog-info">
						<div class="blog-author">By <span class="article-author">{{blog.author}}</span></div>
						<div class="blog-date">{{blog.created_on}}</div>
					</div>
					<div class="blog-short">
						{{blog.content | limitTo : 180}}...
						<span class="read-more"><a ng-href="/blog/{{blog.year}}/{{blog.month}}/{{blog.date}}/{{blog.urlName}}">READ MORE</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>